name: Node.js CI - macos-latest

on:
  - push

jobs:
  build:
    runs-on: macos-latest

    strategy:
      matrix:
        node-version:
          - 8.x
          - 10.x
          - 12.x

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm test
        # see testing notes in package.json
        env:
          CI: true
